.nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 80px;      /* you can adjust */
    width: 100%;
    background: rgb(158, 158, 158);
    z-index: 1000;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 150px;
}

.navList{
    display: flex;
    justify-content: center;
    gap: 5em;
    margin-right: 25em;
    list-style: none;
}

.navList a{
    color: rgb(0, 0, 0);
    padding: 5px 15px;
    border-radius: 5px;
    transition: 0.3s ease;
    font-size: 20px;
    text-decoration: none;
}

.logo{
    font-size: 32px;
    color: rgb(0, 0, 0);
    text-decoration: none;
}
.section{
    color: white;
    padding: 10%;
}