html, body, #root {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh
}

/* Make the middle content expand so the footer stays at bottom */
main {
    flex: 1;
    padding-top: 80px;
}