.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    margin-top: 120px;
    height: 1000px;
}

.item{
    background-color: rgb(93, 168, 202);
    border: 5px solid rgb(77, 142, 172);
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;
}